#include "winresrc.h"
#include "resource.h"

IDD_FIND_DIALOG DIALOGEX 0, 0, 230, 95
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find and Replace"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_FIND_WHAT, 10, 12.5, 150, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
    EDITTEXT        IDC_REPLACE_WITH, 10, 32.5, 150, 15, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
    PUSHBUTTON      "Find Next", IDC_FIND_NEXT, 170, 10, 50, 15, WS_TABSTOP
    PUSHBUTTON      "Replace", IDC_REPLACE, 170, 30, 50, 15, WS_TABSTOP
    PUSHBUTTON      "Replace All", IDC_REPLACE_ALL, 170, 50, 50, 15, WS_TABSTOP
    GROUPBOX        "Direction", IDC_STATIC, 10, 52.5, 140, 35
    RADIOBUTTON     "Up", IDC_DIRECTION_UP, 20, 64, 50, 15
    RADIOBUTTON     "Down", IDC_DIRECTION_DOWN, 50, 64, 60, 15
    PUSHBUTTON      "Cancel", IDCANCEL, 170, 70, 50, 15, WS_TABSTOP
END
